{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-4">Início - {{ current_user.farmacia.nome if current_user.farmacia else 'Sem Farmácia' }}</h1>

    <div class="row mb-4">
        <!-- Campo Ver Estoque -->
        <div class="col-md-6 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ver Estoque</h5>
                    <p class="card-text">Acesse o estoque para gerenciar produtos e adicionar novas quantidades.</p>
                    <a href="{{ url_for('stock') }}" class="btn btn-primary">Ir para Estoque</a>
                </div>
            </div>
        </div>
        <!-- Campo de Mensagens -->
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mensagens</h5>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-warning" role="alert">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Nenhuma mensagem no momento.</p>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Campo Registrar Venda -->
        <div class="col-md-6 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Registrar Venda</h5>
                    <p class="card-text">Registre vendas de produtos e atualize o estoque automaticamente.</p>
                    <a href="{{ url_for('vendas') }}" class="btn btn-primary">Ir para Vendas</a>
                </div>
            </div>
        </div>
        <!-- Campo Ver Relatório -->
        <div class="col-md-6 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Ver Relatório</h5>
                    <p class="card-text">Acesse relatórios detalhados de estoque e demandas.</p>
                    <a href="{{ url_for('relatorio') }}" class="btn btn-primary">Ir para Relatórios</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}